.specialities {
  max-width: 175rem;
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.specialities_text {
  width: auto;
  height: auto;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.specilities_text-header {
  color: #ffc164;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.specialities_text-para {
  color: #fff;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.specialities_btns {
  padding-left: 9px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding-top: 15px;
}

.specialities_btns .btn.active {
  display: flex;
  padding: 12px 4px;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  border-radius: 20px;
  background: #ff5c5c;

  box-shadow: 0px 4px 4px 0px rgba(255, 92, 92, 0.25);
}

.specialities_btns .btn {
  display: flex;
  padding: 12px 4px;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  border-radius: 20px;
  background: transparent;
  color: #fff;
}

.specialities_btns .btn:hover {
  background: #ff5c5c;
  box-shadow: 0px 4px 4px 0px rgba(255, 92, 92, 0.25);
}

.specialities_cards {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 30px;
  background-image: url("E:\Web Tech\Projects\restaurant\src\assets\specialities-knife.svg");
  background-size: cover; /* Ensure the image covers the entire background */
  background-position: center;

  justify-content: center;
}

.specialities_cards-card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: auto;
  max-height: auto;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.specialities_cards-card_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.specialities_cards-card img {
  width: 60%;
  height: 60%;
}

.specialities_cards-card h2 {
  width: auto;
  height: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.specialities_cards-card p {
  width: 250px;
  text-align: center;
  height: auto;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.specialities_cards-card span {
  color: #ffc164;
}

@media screen and (min-width: 768px) {
  .specialities_cards {
    display: flex;
  }
  .specialities_cards-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .specialities_cards-card.reverse {
    flex-direction: row-reverse;
  }

  /* .specialities_cards-card_content {
    display: flex;
  } */

  .specialities_cards-card img {
    width: 40%;
    height: 40%;
  }
}

@media screen and (min-width: 1024px) {
  .specialities {
    display: flex;
    flex-direction: column;
  }

  .specilities_text-header {
    font-size: 60px;
  }

  .specialities_text-para {
    padding-top: 30px;
    font-size: 30px;
  }

  .specialities_btns {
    padding-left: 9px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 40px;
    padding-top: 15px;
  }

  .specialities_btns .btn {
    display: flex;
    padding: 14px 12px;
  }

  .specialities_cards-card {
    display: flex;
    max-width: 100rem;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .specialities_cards-card img {
    width: 50%;
    height: 50%;
  }

  .specialities_cards-card h2 {
    font-size: 50px;
  }
  
  .specialities_cards-card p {
    width: 400px;
    height: auto;
    font-size: 18px;
  }
  
  .specialities_cards-card span {
    font-size: 30px;
  }
}
